<footer class="footer mt-1">

    <nav class="navbar navbar-light bg-success">
  
      <div class="container bg-alert">
  
        
        <a class="nav-link active text-white" aria-current="page" href="#">Design by Front-JF</a> 
            <a class="navbar-brand" href="#">
              
              <img src="../assets/logo-combo.png" alt="" width="150" height="30" class="d-inline-block align-text-center">
                
            </a>
            
  
    
      </div>
      
    </nav>
  
  
  </footer>
