<body>
<!----------  header  ---------->

  

<header class="container-fluid mb-5 mt-3 ">

  <nav class="navbar navbar-light bg-light container-fluid d-flex justify-content-around">

    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
          <a class="navbar-brand mx-3" href="#">
            <img src="../assets/logo-combo.png" alt="" width="225" height="40" class="d-inline-block align-text-center">
            
          </a>
          
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
      
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
              
              <button class="nav-link btn btn-link mx-5" type="button">Primitiva</button>
              <button class="nav-link btn btn-link mx-5" type="button">Euromillon</button>
              <button class="nav-link btn btn-link mx-5" type="button">Login</button>
              <button class="nav-link btn btn-link mx-5" type="button">Registro</button>

            </div>
          </div>
        
      </nav>
      
  

      
  </nav>


</header>

  

  
    

        <!-- <a class="navbar-brand" href="#">
          <img src="../assets/logo-combo.png" alt="" width="225" height="40" class="d-inline-block align-text-center">
            
        </a>
            
            
            <button type="button" class="btn btn-success">
              <a class="nav-link active" aria-current="page" href="#">Primitiva</a>
            </button>
            <button type="button" class="btn btn-success">
              <a class="nav-link active" aria-current="page" href="#">Euromillon</a>
            </button>
            <button type="button" class="btn btn-success">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </button>
            
            

  </div>
  
</nav> -->



<!----------------    main   ----------------------->

<div class="container-fluid">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

</body>