
<div class="container">

    <div class="row">
        <div class="col text-center text-montserrat">
            <h1 class="mb-3 mt-3">Combinaciones inteligentes de la Primitiva</h1>
            <h3 class="text-muted">Realiza combinaciones inteligentes en base a tu intuicion y al poder de la información</h3>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3">
          <img src="../../assets/loteria.primitiva.png" alt="loteria_primitiva">
        </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12 col-md-10">


            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header text-white" id="headingOne">
                    <button class="accordion-button text-center bg-success badge text-white container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
                    ->   Instrucciones y recomendaciones
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-success">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">Dice la estadistica que en un numero infinito de veces, todos los numeros <strong>salen la misma cantidad de veces</strong>, eso quiere decir que a la larga los numeros tienden a igualarse en el numero de veces que aparecen.</li>
                            <li class="list-group-item bg-light">Por ejemplo, si el numero  <strong>1</strong> ha salido <strong>19</strong> veces, y el numero <strong>22</strong> ha salido en <strong>5</strong> ocasiones, a largo plazo tiene <strong>mas posibilidades</strong> que salga el <strong>22</strong>, sin embargo a corto plazo puede que salga mas veces el <strong>1</strong>,
                            lo que se conoce como <strong>fluctuaciones aleatorias</strong>, o lo que es lo mismo, que ese numero esta en racha porque esta saliendo mas veces que el resto.</li>
                            <li class="list-group-item bg-light">Aqui es donde entra tu <strong>intuición</strong>, si apostar por un numero que sale mas veces que otro, o por otros numeros que estan en un termino medio, que no aparecen mucho pero tampoco aparecen poco.</li>
                            <li class="list-group-item bg-light">Cuando selecciones un numero, la aplicacion te mostrara <strong>informacion detallada</strong> sobre el mismo, el numero de veces que ha salido, que otros numeros han aparecido cuando ese numero ha aparecido en un sorteo, pares o combinaciones de números populares, tendencias recientes, etc.</li>
                            <li class="list-group-item bg-light">Toda esta informacion <strong>te ayudara a decidir</strong> sobre que numeros apostar, hacerlo por numeros altos porque llevan dias sin aparecer, o al contrario, hacerlo por numeros bajos, o numeros de la veintena o treintena, apostar por poner numeros consecutivos (en muchos sorteos hay numeros seguidos),
                                con toda esta informacion y tu intuición tus posibilidades pueden mejorar. 
                            </li>
                            <li class="list-group-item bg-light">Pero sobretodo recuerda, el <strong>componente principal es el azar</strong>, eso no quiere decir que tu intuición y la estadistica puedan ayudarte a acertar.</li>
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center text-montserrat">
        <h2>Selecciona un numero</h2>
      </div>
      <div class="col-12">

        <div id="panel">

          <label class="number-checkbox bg-success">
            <input type="checkbox">
            <span class="checkmark bg-success"></span>
          </label>
          <label class="number-checkbox">
            <input type="checkbox" value="1" id="numcolor">1
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">
            <input type="checkbox" value="2">2
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">3
            <input type="checkbox" value="3">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">4
            <input type="checkbox" value="4">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">5
            <input type="checkbox" value="5">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">6
            <input type="checkbox" value="6">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">7
            <input type="checkbox" value="7">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">8
            <input type="checkbox" value="8">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">9
            <input type="checkbox" value="9">
            <span class="checkmark"></span>
          </label>

        </div>
        <div id="panel">

          <label class="number-checkbox">10
            <input type="checkbox" value="10">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">11
            <input type="checkbox" value="11">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">12
            <input type="checkbox" value="12">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">13
            <input type="checkbox" value="13">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">14
            <input type="checkbox" value="14">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">15
            <input type="checkbox" value="15">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">16
            <input type="checkbox" value="16">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">17
            <input type="checkbox" value="17">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">18
            <input type="checkbox" value="18">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">19
            <input type="checkbox" value="19">
            <span class="checkmark"></span>
          </label>

        </div>
        <div id="panel">

          <label class="number-checkbox">20
            <input type="checkbox" value="20">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">21
            <input type="checkbox" value="21">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">22
            <input type="checkbox" value="22">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">23
            <input type="checkbox" value="23">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">24
            <input type="checkbox" value="24">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">25
            <input type="checkbox" value="25">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">26
            <input type="checkbox" value="26">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">27
            <input type="checkbox" value="27">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">28
            <input type="checkbox" value="28">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">29
            <input type="checkbox" value="29">
            <span class="checkmark"></span>
          </label>

        </div>
        <div id="panel">

          <label class="number-checkbox">30
            <input type="checkbox" value="30">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">31
            <input type="checkbox" value="31">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">32
            <input type="checkbox" value="32">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">33
            <input type="checkbox" value="33">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">34
            <input type="checkbox" value="34">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">35
            <input type="checkbox" value="35">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">36
            <input type="checkbox" value="37">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">37
            <input type="checkbox" value="37">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">38
            <input type="checkbox" value="38">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">39
            <input type="checkbox" value="39">
            <span class="checkmark"></span>
          </label>
        </div>

        <div id="panel">

          <label class="number-checkbox">40
            <input type="checkbox" value="40">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">41
            <input type="checkbox" value="41">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">42
            <input type="checkbox" value="42">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">43
            <input type="checkbox" value="43">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">44
            <input type="checkbox" value="44">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">45
            <input type="checkbox" value="45">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">46
            <input type="checkbox" value="46">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">47
            <input type="checkbox" value="47">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">48
            <input type="checkbox" value="48">
            <span class="checkmark"></span>
          </label>
          <label class="number-checkbox">49
            <input type="checkbox" value="49">
            <span class="checkmark"></span>
          </label>

        </div>
   

      </div>    
    </div>


























</div>
