<body>

    <div class="container-fluid">
        <div class="row mb-2">

            <div class="col-12">
                <h1 class="text-roboto text-center p-2">Automatiza tu intuicion</h1>
                <h5 class="text-roboto text-center p-3">Descrube una nueva manera inteligente de realizar tus combinaciones</h5>
            </div>
            
            <div class="col">
                <img src="../../assets/combo-stats2.jpg" class="img-thumbmail w-100" alt="combinacion loteria">
            </div>

        </div>    

            <div class="row">


                <div class=" col-md-7 d-flex align-items-center">
                    <div><h4 class="text-center text-montserrat fw-bold">¿En que consiste combopush?</h4><br>
                    <p class="text-center text-montserrat">
                        combopush es una aplicación diseñada para ayudarte a mejorar tus posibilidades de ganar en los juegos de lotería. Nuestra herramienta utiliza
                         estadísticas y datos históricos para brindarte información valiosa y estratégica a la hora de seleccionar tus combinaciones. <br>Aunque combopush
                         puede ayudarte, recuerda que la suerte sigue siendo el factor principal.
                        
                    </p>
                </div>
    
                </div>

                <div class=" col-sm-5 col-md-5">

                    <img src="../../assets/combo-stats.jpg" alt="estadisticas loteria primitiva" class="img-thumbmail w-100" >
    
                </div>
    

            </div>

            <div class="row mt-5 d-felx justify-content-around">

              <div class="col-10">

              <div class="card-group">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center text-montserrat">Generación de combinaciones inteligentes</h5>
                    <p class="card-text text-montserrat text-center">Combopush ofrece la capacidad de generar combinaciones inteligentes de números basadas en datos y estadísticas reales. Esto significa que puedes dejar de depender únicamente de la suerte y tomar decisiones más informadas al seleccionar tus números de lotería.</p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center text-montserrat">Análisis de estadísticas</h5>
                    <p class="card-text text-montserrat">Combopush te proporciona información actualizada sobre los números más frecuentes, los patrones de aparición y otros datos relevantes. Con este análisis detallado, podrás identificar tendencias y preferencias que pueden influir en tus decisiones al crear tus combinaciones.</p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center text-montserrat">Mejora tus oportunidades</h5>
                    <p class="card-text text-montserrat">Al utilizar Combopush, podrás optimizar tus oportunidades de ganar en la Primitiva al basar tus elecciones en información sólida y objetiva. Esto puede aumentar tus posibilidades de obtener premios y maximizar tu experiencia de juego.</p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center text-montserrat">Fácil de usar</h5>
                    <p class="card-text text-montserrat">Combopush esta diseñado para que sea fácil de usar, incluso si no tienes experiencia previa en el análisis de datos o estadísticas de lotería. La interfaz intuitiva te guiará a través de los pasos necesarios para generar tus combinaciones estratégicas de manera rápida y sencilla.</p>
                    
                  </div>
                </div>
              </div>
            
            </div>
            </div>
            
            
            <div class="row mt-5">
              <div class="col-12 mb-5 mt-5 d-flex justify-content-center">
                <h3 class="text-montserrat">Preguntas frecuentes</h3>
              </div>
                <div class="col-2"></div>
                <div class="col-8">

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              ¿ Es combopush una aplicacion que garantiza el acierto ?
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Definitivamente no.</strong> Nuestra intencion no es vender falsas esperanzas y decirte que te haras millonario, simplemente ayudamos a que hagas tus combinaciones de una forma distinta.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              ¿ Como funciona combopush ?
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Dicen que la informacion es poder</strong> Nuestra herramienta te brinda informacion a medida que vas seleccionando los numeros de tu combinacion, lo que te ayudara en tu intuicion para elegir los posibles numeros ganadores.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              ¿ La herramienta es gratuita ?
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Hasta nuevo aviso si.</strong> Como hemos dicho no queremos engañar a nadie, esta aplicacion acaba de nacer y veremos en el futuro el coste de mantenerla, ahora lo unico que pedimos para poder usarla es estar registrado.
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>


        
    </div>
    
</body>

